body {
  background-color: #252020; /* Black background */
}

.definition-input {
  padding: 5px 5px;
  width: 200px;
}

.input-title {
  font-family: "Roboto Mono", monospace;
  font-size: 13px;
  text-align: left;
  color: #333;
  margin-bottom: 1rem;
}

.gh-inputs-container {
  display: flex;
  flex-direction: column;
  height: 800px;
  align-items: flex-start;
  padding: 5px;
  margin: 16px;
  border: #ffffff solid 2px;
}

.geometry-view {
  height: 800px;
  width: 800px;
  border-style: dashed;
  border-color: #d2dfe8;
  border-width: 4px;
  border-radius: 10px;
  margin: 12px;
  min-width: 200px;
  position: inherit;
}

h2 {
  padding: 15px;
  text-align: center;
}
